.app {
	display: flex;
	flex-direction: column;
	width: 300px;
	border: 1px solid brown;
	padding: 10px;
}

.wrapper {
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.title {
	color: black;
	text-align: center;
	margin-top: 10px;
}

.link {
	color: yellow;
	width: fit-content;
}
.popup {
	display: none;
	width: 290px;
	height: 300px;
	border: 1px solid black;

}
.show {
	display: block; 
  }